@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply transition-all;
  }

  .btn-primary {
    @apply bg-orange-500 text-white px-6 py-2 rounded-lg hover:bg-orange-600 hover:shadow-lg;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-900 px-6 py-2 rounded-lg border border-gray-300 hover:bg-gray-200;
  }
}
